.partner {
  width: 287.5px;
  height: 120px;

  box-sizing: border-box;
  border: 1px solid rgb(235, 235, 241);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s linear;
}

.partner:hover {
  box-shadow: 0px 0px 10px 0px rgba(164, 164, 164, 0.03),
    -3px 0px 40px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1279px) {
  .partner {
    width: 229px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .partner {
    width: 335px;
    height: 140px;
  }
}
