.profile__button-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .profile__button-icon {
    width: 24px;
    height: 24px;
    display: block;

    border: none;
    background-image: url("../../../icons/Profile-stroke.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  .profile__button-icon:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
