.profile__link {
  margin: 0;
  padding: 0;

  color: rgb(118, 130, 152);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  
  opacity: 1;
  transition: opacity 0.2s linear;
}

.profile__link:hover{
  opacity: 0.6;
}
