.partner__image {
  width: 234px;
  height: 64px;
  object-fit: contain;
}

@media screen and (max-width: 901px) {
  .partner__image {
    width: 199px;
    height: 90px;
  }
}

@media screen and (max-width: 376px) {
  .partner__image {
    width: 285px;
    height: 90px;
  }
}
