.search-string{
  width: 100%;
  max-width: 835px;
  height: 40px;

  box-sizing: border-box;
  border: 1px solid rgb(235, 235, 241);
  border-radius: 5px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 1279px){
  .search-string{
    max-width: 344px;
  }
}

@media screen and (max-width: 767px){
  .search-string{
    max-width: 100%;
    height: 42px;

    border: none;
    border-top: 1px solid  rgb(187, 196, 214);
    border-radius: 0;
  }
}