.partners__content{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

@media screen and (max-width: 901px){
  .partners__content{
    row-gap: 20px;
    column-gap: 20px;
  }
}